@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --fg-col: #fafafa;
    --bg-col: #171717;
    --dn-col: #dc143c;
    --en-col: #7cfc00;
}

@media (prefers-color-scheme: light) {
    :root {
        --fg-col: #171717;
        --bg-col: #fafafa;
        --dn-col: #bb031b;
        --en-col: #5bdb00;
    }
}

:root,
button {
    font-family: "Poppins", serif;
    color: var(--fg-col);
    text-decoration: none;
    text-wrap-mode: wrap;
}

h1 {
    font-size: 3em;
}

#hotdogImage {
    width: 30vw;
}

body {
    background-color: var(--bg-col);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow: clip;
    max-height: 100vh;
    max-width: 100vw;
    padding: 5vmin;
    margin: 0;
}

@media (max-width: 999px) {
    body {
        display: flex;
        flex-direction: column;
    }
}

main {
    overflow: clip;
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    justify-content: space-evenly;
    align-content: space-evenly;
}

#store {
    justify-content: space-evenly;
    align-content: space-evenly;
}

nav {
    display: grid;
    justify-content: space-evenly;
    align-content: space-evenly;
    padding: 2.5vmin;
    margin: 0;
    overflow: clip;
    max-width: 100vw;
}

@media (max-width: 999px) {
    nav {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }
}

button {
    background-color: transparent;
    border-color: transparent;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.26, 0.91, 0.76, 1);
}

button:active {
    transform: scale(0.9);
}

#wipe {
    color: var(--dn-col);
}

#save {
    color: var(--en-col);
}

#save,
#wipe {
    font-size-adjust: 2;
}

.display {
    opacity: 1;
    transition-duration: 1s;
}

.hide {
    opacity: 0;
    transition-duration: 1s;
    position: absolute;
    left: 100vw;
    transition: all 0.5s;
    z-index: -1;
}

@media (max-width: 999px) {
    .mhide {
        display: none;
    }
}

.blur {
    filter: blur(1.5rem) contrast(0);
    transition-duration: 1s;
}

#context {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

#store > #buildings {
    column-gap: 5vw;
    display: flex;
    overflow: auto;
    padding: 0 0 7.5vw;
    scrollbar-width: none;
    max-width: 50vw;
}

#store > #buildings > button {
    background-color: var(--dn-col);
    border-radius: 1.5vmin;
    display: grid;
    grid-template-rows: 1fr 4fr;
    padding: 2.5vh 7.5vw;
}

#store > #buildings > button > b {
    font-size: 3em;
}

#store > #buildings > button.buyable {
    background-color: var(--en-col);
}

#store > #buildings > button > div {
    display: flex;
    flex-direction: row;
    padding: 1.25vmin;
    gap: 5vw;
    align-items: space-between;
}

#store > #buildings > button > div > div:has(p) {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#store > #buildings > button > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#store > #buildings > button > div > div > div {
    display: flex;
    flex-direction: column;
}

#store > #buildings > button > div > div > div > span {
    font-size: 2em;
    text-wrap: nowrap;
}
