@import url('https://fonts.googleapis.com/css2?family=Tiny5&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --safe-margin: 10px;

    --fg-col: #fafafa;
    --bg-col: #171717;
    --dn-col: #dc143c;
    --en-col: #7cfc00;

    --fg-col-t: #fafafa8a;
    --bg-col-t: #1717178a;
    --dn-col-t: #dc143c8a;
    --en-col-t: #7cfc008a;

    --fg-tint: #fafafa4a;
    --bg-tint: #1717174a;
    --dn-tint: #dc143c4a;
    --en-tint: #7cfc004a;

    touch-action: none;
    scrollbar-width: none;
}

body[data-progress] {
    cursor: progress;
}

body[data-veil] {
    filter: brightness(0) saturate(0);
    background: #000;
}

body[data-veil]>#blackjack-menu {
    filter: brightness(100%) saturate(100%);
}

:root,
button,
option,
select {
    height: auto;
    font-family: "Tiny5", sans-serif;
    color: var(--fg-col);
    text-decoration: none;
    text-wrap-mode: wrap;
}

code {
    height: auto;
    font-family: "Space Mono", monospace;
    color: var(--bg-col);
    background-color: var(--fg-col);
    border: none;
    border-radius: 0.5vmin;
    padding: 0 1vmin;
    text-decoration: none;
    text-wrap-mode: wrap;
}


h1 {
    font-size: 3em;
}

body {
    background-image: url(/assets/Hugh.png);
    background-size: cover;
    background-attachment: scroll;
    display: grid;
    margin-top: 10vh;
    padding: 5vmin;
    overflow: clip auto;
}

nav {
    background-color: var(--bg-tint);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5vmin;
    border: 0.25vmin solid var(--bg-col);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    z-index: 5;
}

nav img {
    height: 7.5vh;
}

section.card {
    background-color: var(--bg-tint);
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(2rem);
    border: 0.25vmin solid var(--bg-col);
    border-radius: 2.5vmin;
    padding: 5vmin;
}

section.splvert {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
    padding: 0 2.5vmin 0;
    gap: 2vmin;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    overflow: auto;
}

#stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#stat>button>img {
    height: 20vmin;
}

button,
[data-button] {
    background-color: transparent;
    border-color: transparent;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.26, 0.91, 0.76, 1);
}

button:not([disabled]):active,
[data-button]:not([data-unbuyable]):active {
    transform: scale(0.9);
}

[data-button]:not([data-unbuyable]):not(:active) {
    cursor: pointer;
}

button:hover:not(:active),
[data-button]:hover:not(:active),
button:focus:not(:active),
[data-button]:focus:not(:active),
button:is([disabled]):hover,
[data-button]:is([data-unbuyable]):hover,
button:is([disabled]):focus,
[data-button]:is([data-unbuyable]):focus {
    transform: scale(1.1);
}

.display {
    opacity: 1;
    transition-duration: 1s;
}

.hide,
dialog:not([open]) {
    opacity: 0;
    position: absolute;
    transition: all 0.5s;
    z-index: -1;
    margin-right: 100vw;
}

.blur {
    filter: blur(1.5rem) contrast(0);
    transition-duration: 1s;
}

#right-split {
    max-height: 100%;
}

#buyables-list {
    overflow: clip auto;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

#buyables-list>li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: none;
    justify-items: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

#buyables-list>li>img {
    height: 7.5vmin;
}

#buyables-list>li>div {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#buyables-list>li b {
    font-size: 1.5em;
}

[disabled],
[data-unbuyable] {
    filter: saturate(75%) brightness(50%);
    cursor: not-allowed;
}

#ldbd-pl-01 {
    font-size: 2em;
}

#leaderboard>ul {
    list-style-type: decimal-leading-zero;
}

#leaderboard>ul>li {
    font-size: 1.5em;
}

#leaderboard>ul>li::marker {
    font-weight: bold;
}

#open-main-menu {
    cursor: context-menu;
}

#notification-prominent {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--bg-col-t);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    z-index: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Tiny5", sans-serif;
    color: var(--fg-col);
}

#notification-prominent-title {
    font-size: 4em;
}

#notification-prominent-body {
    font-size: 2em;
}

#notification-prominent>form {
    padding: 0 10vmin;
}

#notification-prominent>form>input[type="submit"] {
    border: none;
    width: 20vmin;
    font-family: "Tiny5", sans-serif;
    height: 10vmin;
    border-radius: 1vmin;
    background-color: var(--fg-col);
    color: var(--bg-col);
}

#notification-popup {
    position: fixed;
    width: 50vw;
    height: 50vh;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: var(--bg-col-t);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    z-index: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Tiny5", sans-serif;
    color: var(--fg-col);
}

#notification-popup-title {
    font-size: 4em;
}

#notification-popup-body {
    font-size: 2em;
}

#notification-popup>form>input[type="submit"] {
    border: none;
    width: 10vmin;
    font-family: "Tiny5", sans-serif;
    height: 5vmin;
    border-radius: 1vmin;
    background-color: var(--fg-col);
    color: var(--bg-col);
}

#notification-banner {
    margin: 0;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: var(--bg-col-t);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Tiny5", sans-serif;
    color: var(--fg-col);
}

#notification-banner[open] {
    z-index: 6;
}

#notification-banner-body {
    font-size: 2em;
}

#notification-banner>form>input[type="submit"] {
    border: none;
    width: 20vmin;
    font-family: "Tiny5", sans-serif;
    border-radius: .5vmin;
    background-color: var(--fg-col);
    color: var(--bg-col);
}

#main-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--bg-col-t);
    backdrop-filter: blur(3rem);
    -webkit-backdrop-filter: blur(3rem);
    z-index: 6;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: "Tiny5", sans-serif;
    color: var(--fg-col);
}

#main-menu>form {
    display: grid;
    justify-content: center;
    justify-items: start;
    align-items: start;
    gap: 2.5vmin;
    font-family: "Tiny5", sans-serif;
    color: var(--fg-col);
}

#main-menu-title {
    font-size: 4em;
}

#main-menu-body {
    font-size: 2em;
}

#main-menu>form>input[type="submit"] {
    border: none;
    width: 20vmin;
    font-family: "Tiny5", sans-serif;
    height: 10vmin;
    border-radius: 1vmin;
    background-color: var(--fg-col);
    color: var(--bg-col);
}

.menu {
    position: fixed;
    inset: 0;
    margin: auto;
    padding: 2.5vmin;

    width: 50vw;
    min-height: 50vh;
    max-height: 70vh;

    background-color: var(--bg-col-t);

    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(2rem);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: "Tiny5", sans-serif;
    color: var(--fg-col);

    overflow: auto;
}

.menu>form {
    display: grid;
    justify-content: center;
    justify-items: start;
    align-items: start;
    gap: 2.5vmin;

    font-family: "Tiny5", sans-serif;
    color: var(--fg-col);
}

#change-nickname>form>p,
#restore-save-dialog>form>p {
    font-size: 2em;
}

#gambling-dialog {
    padding: 5vmin;
}

#gambling-dialog>form>p,
#settings-menu>form>p {
    font-size: 1.2em;
}

#gambling-dialog>form>b {
    font-size: 2em;
}

#change-nickname>form>input[type="text"],
#restore-save-dialog>form>input[type="text"] {
    width: 20vmin;
    height: 2.5vmin;
    border: none;
    border-radius: .5vmin;
}

.menu>form>input[type="submit"],
.menu>form>[data-button],
#gambling-dialog>form>[data-button],
#settings-menu>form>[data-button] {
    border: none;
    width: 10vmin;
    font-family: "Tiny5", sans-serif;
    height: 5vmin;
    border-radius: 1vmin;
    background-color: var(--fg-col);
    color: var(--bg-col);
}

#slots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.squ-box {
    aspect-ratio: 1/1;
    width: 10vmin;
    height: 10vmin;
    background-color: var(--fg-col);
    color: var(--bg-col);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    border: none;
    border-radius: 1vmin;
}

#spin-slots:not([data-unsafe]) {
    background-color: var(--en-col) !important;
}

#spin-slots[data-unsafe] {
    background-color: var(--dn-col) !important;
    cursor: wait;
}

#settings-menu {
    padding: 10vmin;
}

#settings-menu>form>section {
    display: flex;
    flex-direction: column;
    gap: 0;
}

#settings-menu>form>section>div {
    display: flex;
    justify-content: space-between;
    width: 30vw;
}

#blackjack-menu {
    padding: 5vmin;
}

#blackjack-menu>form>div {
    display: flex;
    width: 40vw;
    justify-content: center;
}

#blackjack-menu>form>section {
    display: grid;
    width: 40vw;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

#blackjack-menu>form>section>button {
    font-size: 2em;
    font-weight: bold;
}

#bj-deck {
    width: 5vw;
}

#bj-split-hand-sums {
    display: flex;
    justify-content: space-evenly;
    gap: 2vw;
    width: 45vw;
}

#bj-split-button {
    font-size: 1.5em;
}

#bj-split-hand-sums>p {
    font-size: 1.3em;
}

.wager-slider {
    width: 30vw;
}
